If:
  PathMatch: ros2_ws/src/arm_control/.*
CompileFlags:
  CompilationDatabase: None
  Add:
    - "-std=c++17"
    - "-DBOOST_MPL_CFG_NO_PREPROCESSED_HEADERS"
    - "-DBOOST_MPL_LIMIT_LIST_SIZE=30"
    - "-DBOOST_MPL_LIMIT_VECTOR_SIZE=30"
    - "-DBOOST_FUSION_INVOKE_MAX_ARITY=12"
    - "-DPINOCCHIO_ENABLE_TEMPLATE_INSTANTIATION"
    - "-I/Users/atulagarwal/robotics/hello-world/ros2_ws/src/arm_control/include"
    - "-I/Users/atulagarwal/robotics/hello-world/ros2_ws/install/arm_control/include"
    - "-I/Users/atulagarwal/robotics/hello-world/ros2_ws/install/arm_msgs/include/arm_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/eigen3"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/mujoco"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/action_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/actionlib_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/ament_index_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/builtin_interfaces"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/class_loader"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/composition_interfaces"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/diagnostic_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/fastcdr"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/fastrtps"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/foonathan_memory"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/geometry_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/kdl_parser"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/keyboard_handler"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/libstatistics_collector"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/lifecycle_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/mcap_vendor"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/message_filters"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/nav_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/pluginlib"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl_action"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl_interfaces"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl_lifecycle"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl_logging_interface"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcl_yaml_param_parser"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rclcpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rclcpp_action"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rclcpp_components"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rclcpp_lifecycle"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcpputils"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rcutils"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rmw"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rmw_dds_common"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rmw_fastrtps_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rmw_fastrtps_shared_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/robot_state_publisher"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_compression"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_compression_zstd"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_interfaces"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_storage"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_storage_sqlite3"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosbag2_transport"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosgraph_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_dynamic_typesupport"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_dynamic_typesupport_fastrtps"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_runtime_c"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_runtime_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_c"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_fastrtps_c"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_fastrtps_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_interface"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_introspection_c"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/rosidl_typesupport_introspection_cpp"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/sensor_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/service_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/shape_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/statistics_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/std_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/std_srvs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/stereo_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_bullet"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_eigen"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_eigen_kdl"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_geometry_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_kdl"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_ros"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tf2_sensor_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/tracetools"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/trajectory_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/type_description_interfaces"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/unique_identifier_msgs"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/urdf"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/urdf_parser_plugin"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/urdfdom"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/urdfdom_headers"
    - "-I/Users/atulagarwal/robotics/hello-world/.deps/ros_jazzy/visualization_msgs"
    - "-I/opt/homebrew/include/eigen3"
    - "-I/opt/homebrew/include"
    - "-I/opt/homebrew/include/pinocchio/deprecated"
    - "-I/opt/homebrew/include/urdfdom_headers"

---
If:
  PathMatch: moveit_ws/src/so101_hardware/.*
CompileFlags:
  CompilationDatabase: moveit_ws/build/so101_hardware
